@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Getting Started</h3>
<p>Day Maps gives you a powerful, patterns-based way to build dynamic task assignments that enables a clean separation of concerns for yourself and your team.</p>
<h3>Track Projects From Start to Finish</h3>
<p>Always Know your next step and have a clear understanding of the role you play in a team project.</p>
<h3>Sign Up!</h3>
<p>You can use your work or personal email, depending on if this is for personal use your team enrichment.</p>

<p>Use this area to provide additional information.</p>
