@{
    ViewBag.Title = "About";
}

<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4>Site Under Construction!</h4>
    <p>Day Maps is under construction, see below to view project outine and scheduled completion dates.</p>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <h1 class="text-info">Map for Success!</h1>
        <p class="lead">Day Maps gives you a powerful, patterns-based way to build dynamic task assignments that enables a clean separation of concerns for yourself and your team.</p>
    </div>
</div>

<table class="table table-striped table-hover ">
    <thead>
        <tr class="info">
            <th>Milestone</th>
            <th>Date</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Febuary 12, 2017</td>
            <td>Create User Interface for Index view of Application.</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Febuary 21, 2017</td>
            <td>Add Model Classes that map out data to be collected.</td>
            </tr>
        <tr>
            <td>3</td>
            <td>Febuary 28, 2017</td>
            <td>Layout design for aplication's intended user interface, Impliment layout view on all views.</td>
        </tr>
        <tr>
            <td>4</td>
            <td>March 7, 2017</td>
            <td>Final project submission.</td>
        </tr>
        <tr>
            <td>5</td>
            <td>March 14, 2017</td>
            <td>Day Maps Demo Day</td>
        </tr>
    </tbody>

</table> 
