@{
    ViewBag.Title = "Home Page";
}

<div class="panel panel-default">
    <div class="panel-body">
        <h1 class="text-info">Day Maps</h1>
        <p class="lead">Map your day - Get results.</p>
        <p style="float:right;"><a href="#" class="btn btn-info">Learn More</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Getting Started</h3>
            </div>
            <div class="panel-body">
                <p>Day Maps gives you a powerful, patterns-based way to build dynamic task assignments that
                enables a clean separation of concerns for yourself and your team.</p>
                <p><a href="#" class="btn btn-default">Learn More</a></p>
            </div>
        </div> 
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Why Day Maps?</h3>
            </div>
            <div class="panel-body">
               Track Projects From Start to Finish
                <p>Always Know your next step and have a clear understanding of the role you play in a team project.</p>
                <p><a href="#" class="btn btn-default">Learn More</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sign Up</h3>
            </div>
            <div class="panel-body">
                <p>You can use your work or personal email, depending on if this is for personal use your team enrichment.</p>
                <p><a href="#" class="btn btn-default">Learn More</a></p>
            </div>
        </div>
    </div>
</div>