@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Day Maps</h1>
    <p class="lead">Map your day - get results.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Day Maps gives you a powerful, patterns-based way to build dynamic task assignments that
            enables a clean separation of concerns for yourself and your team.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Track Projects From Start to Finish</h2>
        <p>Always Know your next step and have a clear understanding of the role you play in a team project.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>You can use your work or personal email, depending on if this is for personal use your team enrichment.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>